@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
html, body {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* tailwind.css */

/* Custom Input Field */
.input-field {
  border: 1px solid #919294;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* Primary Button */
.btn-primary {
  background-color: #722ce3;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #5c0eda;
}
/* scrollbar.css */

/* .custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #000 #f1f1f1; 
} */


/* .custom-scrollbar::-webkit-scrollbar {
  width: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px !important; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #e1d8d8db;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

